@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  position: fixed;
  width: 65%;
  top: 0;
}
.footer{
  position: fixed;
    width: 65%;
    bottom: 0;
}
.search-input{
  width: 40vw;
}
@media only screen and (max-width: 768px) {
  .lgIcons {
    display: none;
  }
    .header,.footer {
      width: 97%;
    }
}

/* .inboxContainer{
  width: 50%;
  margin: auto;
} */